<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <h1>WAFEPA Pocenta stranica</h1>
  <p>Ovde cete pronaci sve aplikacije koje obuhvata WAFEPA. Klikom na link predjite na aplikaciju koju zelite da koristite.</p>
</div>

<div class="row">
    <div class="col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Biblioteka</h3>
            </div>
            <div class="panel-body">
              Aplikacija Biblioteka omogucava CRUD operacije sto podrazumeva:
              <ul>
                  <li>Prikaz svih knjiga i njenih autora</li>
                  <li>Brisanje i dodavanje knjige</li>
                  <li>Brisanje i dodavanje autora</li>
                  <li>Pretragu po naslovu knjige</li>
                  <li>Pretragu po isbn knjige/li>
              </ul>
              Klikom na <a href="/static/app/html/index.html#!/biblioteka">link</a> predjite na aplikaciju Biblioteka.
            </div>
          </div>
        </div>
</div>
